* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: absolute;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background: whitesmoke;

  .topBar {
    width: 100%;

    background-color: rgb(58, 149, 209);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .gameTitle {
      font-size: 50px;
      font-weight: 800;
      color: white;
    }
  }
  .mainContainer {
    position: relative;
    top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .status {
      font-size: 40px;
      font-weight: 900;
      padding: 20px 40px;
      margin: 20px;
      color: white;
      max-width: 80%;
      background: rgb(58, 149, 209);
      text-align: center;
      border-radius: 20px;
    }

    .statusX::before {
      content: "Player O's turn";
    }

    .statusO::before {
      content: "Player X's turn";
    }

    .gameBoard {
      position: relative;
      padding: 20px;
      width: 600px;
      height: 600px;
      background-color: white;
      border: 3px solid rgb(58, 149, 209);
      border-radius: 20px;
      display: grid;

      grid-template-columns: repeat(3, 1fr);
      margin: 0px auto;

      .field {
        margin-left: 13px;
        margin-top: 13px;
        display: block;
        color: rgb(58, 149, 209);
        height: 160px;
        width: 160px;
        font-size: 7rem;
        border: 2px solid rgb(58, 149, 209);
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
      }

      .x::before {
        content: "X";
      }

      .o::before {
        content: "O";
      }

      .field:hover {
        background-color: rgba(58, 149, 209, 0.3);
        color: white;
        text-shadow: 0px 5px 10px rgba(58, 149, 209, 0.4);
      }
    }

    .restartSection {
      .restartBtn {
        position: relative;
        top: 2vh;
        outline: none;
        cursor: pointer;
        background: rgb(58, 149, 209);
        color: white;
        font-weight: 600;
        font-size: 30px;
        padding: 15px 30px;
        border: none;
        border-radius: 20px;
      }

      .restartBtn:hover {
        box-shadow: 0px 0px 15px rgba(161, 161, 161, 0.788);
        font-size: 35px;
      }
    }
  }
}
